<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    

    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
      #map_10d8ba379c84a8a32988e7436c041a4b {
        position: relative;
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
      }
      
      .leaflet-container {
        font-size: 1rem;
      }
    </style>

    <style>
      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <style>
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    </style>

    <script>
      L_NO_TOUCH = false
      L_DISABLE_3D = false
    </script>
  </head>

  <body>
    <div class="folium-map" id="map_10d8ba379c84a8a32988e7436c041a4b"></div>
  </body>
  <script>
    
    var map_10d8ba379c84a8a32988e7436c041a4b = L.map(
        "map_10d8ba379c84a8a32988e7436c041a4b",
        {
            center: [40.98235397234183, 29.05953843050679],
            crs: L.CRS.EPSG3857,
            ...{
                "zoom": 15,
                "zoomControl": true,
                "preferCanvas": false,
            }

        }
    );
      
    let old_center ={lat:map_10d8ba379c84a8a32988e7436c041a4b.options.center[0],
      lng:map_10d8ba379c84a8a32988e7436c041a4b.options.center[0]} 

    var tile_layer_dda35a9549bfa503ea7e6d238014b747 = L.tileLayer(
        "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
            "minZoom": 0,
            "maxZoom": 19,
            "maxNativeZoom": 19,
            "noWrap": false,
            "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
            "subdomains": "abc",
            "detectRetina": false,
            "tms": false,
            "opacity": 1,
        }
    );
    tile_layer_dda35a9549bfa503ea7e6d238014b747.addTo(map_10d8ba379c84a8a32988e7436c041a4b);
    
    const markers = {{ markers | tojson }};
    const pathData = {{ path_data | tojson }};
    const markerObjects = {};
    
    if (markers.length > 0) {
        markers.forEach((marker, index) => {
            let markerObj;
            const markerId = `marker_${index}_${marker.lat}_${marker.lon}`;
            
            if (marker.status == 'marker'){
                var icon = L.AwesomeMarkers.icon(
                {
                    "markerColor": "blue",
                    "iconColor": "white",
                    "prefix": "glyphicon",
                    "extraClasses": "fa-rotate-0",
                    "icon": "map-marker"
                });
                
                const popupContent = 
                    '<div>' +
                        '<strong>Waypoint</strong><br>' +
                        'Lat: ' + marker.lat.toFixed(4) + '<br>' +
                        'Lon: ' + marker.lon.toFixed(4) + '<br>' +
                        '<button onclick="removeMarker(' + marker.lat + ', ' + marker.lon + ', \'' + markerId + '\')" ' +
                                'style="background-color: #dc3545; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer; margin-top: 5px;">' +
                            'Delete' +
                        '</button>' +
                    '</div>';
                
                markerObj = L.marker([marker.lat, marker.lon],{icon: icon})
                    .addTo(map_10d8ba379c84a8a32988e7436c041a4b)
                    .bindPopup(popupContent);
            }
            else{ 
                var icon = L.AwesomeMarkers.icon(
                {
                    "markerColor": "red",
                    "iconColor": "white",
                    "prefix": "fa",
                    "extraClasses": "fa-rotate-0",
                    "icon": "lock"
                });
                
                const popupContent = 
                    '<div>' +
                        '<strong>Engel</strong><br>' +
                        'Lat: ' + marker.lat.toFixed(4) + '<br>' +
                        'Lon: ' + marker.lon.toFixed(4) + '<br>' +
                        '<button onclick="removeMarker(' + marker.lat + ', ' + marker.lon + ', \'' + markerId + '\')" ' +
                                'style="background-color: #dc3545; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer; margin-top: 5px;">' +
                            'Delete' +
                        '</button>' +
                    '</div>';
                
                markerObj = L.marker([marker.lat, marker.lon], {icon: icon})
                    .addTo(map_10d8ba379c84a8a32988e7436c041a4b)
                    .bindPopup(popupContent);
            }
            
            markerObjects[markerId] = markerObj;
        });
    }

    if (pathData && pathData.edges) {
        pathData.edges.forEach(edge => {
            L.polyline(edge, {
                color: 'red',
                weight: 3,
                opacity: 0.7
            }).addTo(map_10d8ba379c84a8a32988e7436c041a4b);
        });
    }

    function removeMarker(lat, lon, markerId) {
        if (confirm('Are you sure you want to delete this marker?')) {
            fetch("http://127.0.0.1:5000/remove_marker", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ lat: lat, lon: lon }),
            })
            .then(res => res.json())
            .then(data => {
                if (data.status === 'success') {
                    if (markerObjects[markerId]) {
                        map_10d8ba379c84a8a32988e7436c041a4b.removeLayer(markerObjects[markerId]);
                        delete markerObjects[markerId];
                    }
                    alert('Marker deleted successfully!');
                } else {
                    alert('Error deleting marker: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error deleting marker!');
            });
        }
    }

    function map_click_event(e) {
        let latitude = e.latlng.lat.toFixed(4);
        let longitude = e.latlng.lng.toFixed(4);

        fetch("http://127.0.0.1:5000/add_marker", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams({ lat:latitude,lon:longitude  }),

        })
        .then(res=>{
          if(res.status == 200){
           
          }
          return res.json();
        })
        .then(data => {
            const newMarkerId = 'marker_new_' + latitude + '_' + longitude;
            let markerObj;
            
            if(data.marker.status == 'marker'){
                var icon = L.AwesomeMarkers.icon(
                  {
                    "markerColor": "blue",
                    "iconColor": "white",
                    "prefix": "glyphicon",
                    "extraClasses": "fa-rotate-0",
                    "icon": "map-marker"
                  });

                const popupContent = 
                    '<div>' +
                        '<strong>Waypoint</strong><br>' +
                        'Lat: ' + parseFloat(latitude).toFixed(4) + '<br>' +
                        'Lon: ' + parseFloat(longitude).toFixed(4) + '<br>' +
                        '<button onclick="removeMarker(' + latitude + ', ' + longitude + ', \'' + newMarkerId + '\')" ' +
                                'style="background-color: #dc3545; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer; margin-top: 5px;">' +
                            'Delete' +
                        '</button>' +
                    '</div>';

                markerObj = L.marker([latitude,longitude],{icon: icon})
                    .addTo(map_10d8ba379c84a8a32988e7436c041a4b)
                    .bindPopup(popupContent);
            }
            else if (data.marker.status == 'obstacle'){
                var icon = L.AwesomeMarkers.icon(
                  {
                    "markerColor": "red",
                    "iconColor": "white",
                    "prefix": "fa",
                    "extraClasses": "fa-rotate-0",
                      "icon": "lock"
                  });
                
                const popupContent = 
                    '<div>' +
                        '<strong>Obstacle</strong><br>' +
                        'Lat: ' + parseFloat(latitude).toFixed(4) + '<br>' +
                        'Lon: ' + parseFloat(longitude).toFixed(4) + '<br>' +
                        '<button onclick="removeMarker(' + latitude + ', ' + longitude + ', \'' + newMarkerId + '\')" ' +
                                'style="background-color: #dc3545; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer; margin-top: 5px;">' +
                            'Delete' +
                        '</button>' +
                    '</div>';
                
                markerObj = L.marker([latitude, longitude], {icon: icon})
                    .addTo(map_10d8ba379c84a8a32988e7436c041a4b)
                    .bindPopup(popupContent);
            }
            
            if (markerObj) {
                markerObjects[newMarkerId] = markerObj;
            }
        });

    }
    
    function map_move_event(){
      let new_center = map_10d8ba379c84a8a32988e7436c041a4b.getCenter();
      let changed_value = Math.abs(new_center.lat - old_center.lat) + Math.abs(new_center.lng - old_center.lng);
      if (changed_value >= 0.0001){
         fetch("http://127.0.0.1:5000/change_center", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams({ lat:new_center.lat,lon:new_center.lng }),

        })
      }
      old_center = new_center;
    }


    map_10d8ba379c84a8a32988e7436c041a4b.on('click', map_click_event);
    map_10d8ba379c84a8a32988e7436c041a4b.on('moveend', map_move_event);
    
</script>
</html>
